body {margin: 0; background: #FCFCFC;}
#html {max-width: 1200px; margin: auto; background-color: #fff;}

.txt {font-size: 12px; border: 1px solid #C0C0C0; background-color: #FCFCFC;}
.m {background-color: #F0F1FA;}
.ma {font-size: 12px; border: 1px solid #B2BCD9; background-color: #F9FAFD;}
.mr {font-size: 12px; border: 1px solid #B2BCD9; background-color: #FEE0E3;}
.ms {font-size: 12px; border: 1px solid #B2BCD9; background-color: #F9FAFD; padding-left: 20px; margin-top: 5px; margin-left: 30px; margin-right: 30px; margin-bottom: 5px;}
.block {border: 1px solid #C0C0C0; padding: 10px 20px 10px 20px; margin: 5px 30px 5px 30px; background-color: #E8FFE8;}
.rs {font-size: 12px; border: 1px solid #C0C0C0; padding-left: 20px; padding-right: 20px; padding-bottom: 10px; margin-top: 5px; margin-left: 30px; margin-right: 30px; margin-bottom: 5px;}
.vs {padding-left: 20px; position: absolute; visibility: hidden; top: 160px; left: 300px; width: 500px; height: 180px; border: 1px solid #B2BCD9; background-color: #E8FFE8;}
.vs1 {padding: 10px; position: absolute; visibility: hidden; top: 160px; left: 300px; border: 1px solid #B2BCD9; background-color: #E8FFE8;}
.vs2 {padding: 10px; position: absolute; visibility: hidden; top: 10px; right: 30px; border: 1px solid #B2BCD9; background-color: #E8FFE8;}
.cat_comment {padding: 10px; position: absolute; visibility: hidden; top: 5px; right: 10px; border: 1px solid #B2BCD9; background-color: #E8FFE8; height: 100px; overflow: auto;}
.me {font-size: 12px; background-color: #F9FAFD;}
.mn {background : #F0F1FA; color: #676767; font-weight: bold; font-size: 12px; height: 22px;}
.s {background: #E6E6E6; border: 1px solid #C0C0C0;}
.n {background: #E3E2E7; border: 1px solid #C0C0C0;	color: black;}

.menu {width: 183px; height: 20px; margin: 5px 0 0 7px;}

.im {border: 1px solid black;}
.icon {vertical-align: middle}
.ram {border: 1px solid #C0C0C0;}
.help {color: #616161; font-size: 10px;}

.title {background-color: #F0F1FA; color: #676767; font-weight: bold; font-size: 12px; height: 22px; padding: 0px 5px 0px 5px; position: relative; margin: 0 0 5px 0px;}

.tbl table {border:1px solid #C0C0C0; border-width: 1px 0 1px 1px;}
.tbl table thead th, .tbl table tbody th {background: #09489d; color: #ffffff; border: 1px solid #C0C0C0; border-width: 0 1px 0 0; padding: 5px;}
.tbl table tbody td {border: 1px solid #C0C0C0; border-width: 0 1px 1px 0; padding: 5px;}
.tbl table tfoot td {background: #F0F1FA; border: 1px solid #C0C0C0; border-width: 0 1px 1px 1px; padding: 5px;}

/* autocomplete */
.ui-menu-item-type {float:right; margin-right: 10px; color:#26A908;}
/* autocomplete */

.navbar-static-top {
    padding: 5px;
    font-size: 12px;
    line-height: 10px;
}

label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
    font-weight: normal;
    color: #ee0000;
}

.text-warning {color: #d5730d;}

.padding_top_10 {padding-top: 10px;}
.padding_bottom_10 {padding-bottom: 10px;}
