.navbar-brand {
    padding-top: 5px;
}

.breadcrumb {
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
}

.dropdown .site_url {
    max-width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* autocomplete */
.ui-menu-item-type {
    float: right;
    margin-right: 10px;
    color: #26A908;
}

/* autocomplete */

label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
    font-weight: normal;
    color: #ee0000;
}

.text-warning {
    color: #d5730d;
}

.font_percentage_120 {
    font-size: 120%;
}

.padding_top_10 {
    padding-top: 10px;
}

.padding_bottom_10 {
    padding-bottom: 10px;
}


.ram {
    border: 1px solid #C0C0C0;
}
.n {
    background: #E3E2E7;
    border: 1px solid #C0C0C0;
    color: black;
}
.mn {
    background: #F0F1FA;
    color: #676767;
    font-weight: bold;
    font-size: 12px;
    height: 22px;
}
.m {
    background-color: #F0F1FA;
}
