body {margin:0; padding:0; font-family: Arial; background-color: #fff;}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
    #html {width: 90%; margin: auto; font-size: 12px; line-height: 18px; margin-bottom: 30px;}

    #sidebar {width: 100%; margin-bottom: 10px;}
    #content {width: 98%; margin-bottom: 30px; font-size: 14px;}
    #right {width: 100%;}

    #header {margin-bottom: 20px;}
    #header div.icon_row {vertical-align: middle; margin-top: 10px; text-align: right; width: 320px;}
    #header div.icon {width: 55px; text-align: right; }
    #header div.muctr_logo {width: 120px; text-align: right; padding-right: 10px}

    #footer {margin-top: 20px; background-color: #C0C0C0; color: #ffffff; padding: 10px}
    #footer div a {color: #ffffff;}

    .sidebar-nav .navbar-header {background: #e2f3f9;}

    .sidebar-nav .navbar .navbar-collapse {
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        background: #e2f3f9;
        margin-bottom: 2px;
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li.last {
        margin-bottom: 0;
    }

    .sidebar-nav .navbar li a {
        padding-top: 4px;
        padding-bottom: 4px;
        text-decoration: none;
        color: #333;
    }

    .sidebar-nav .navbar li a:hover,
    .sidebar-nav .navbar li a:focus {
        color: #333;
        background: #f2f2f2;
    }

    .sidebar-nav .navbar li.active>a {
        color: #d9534f;
        background: none;
        font-weight: bold;
    }

    .sidebar-nav .navbar li.active>a:hover{
        color: #333;
        background: #f2f2f2;
    }

    .sidebar-nav .navbar .sub-nav li.active>a{
        color: #d9534f;
        background: none;
    }

    .sidebar-nav .sub-nav {
        font-size: 11px;
        margin-left: -15px;
    }

    .sidebar-nav .level-3 {
        font-size: 11px;
        margin-left: -35px;
        margin-right: 5px;
    }

    .sidebar-nav .level-3 .arrow {
        width: 20px;
        height: 12px;
        position: relative;
        top: 1px;
        display: inline-block;
        background:url("/img/s_menu.gif") left top;
    }

    .sidebar-nav .sub-nav li {
        background: none;
        float: none;
        display: block;
    }

    .sidebar-nav .divider {
        background-color: #f2f2f2 !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    #sidebar {width: 40%;}
    #content {width: 60%; font-size: 14px;}
    #html {width: 768px;}

    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
    }

    #sidebar {width: 240px;}
    #content {width: 528px}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
    #html {width: 990px; line-height: 22px;}

    #sidebar {width: 240px;}
    #content {width: 510px; padding-left: 0; padding-right: 0; font-size: 14px;}
    #right {width: 240px;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
    #html {width: 1200px;}

    #sidebar {width: 240px;}
    #content {width: 720px; font-size: 14px;}
    #right {width: 240px;}
}

.breadcrumb {margin-top: 0; font-size: 12px;}

h1 {font-size: 20px;}
h2 {font-size: 20px;}
h3 {font-size: 18px;}
h3 a:link, h3 a:active, h3 a:visited, h3 a:hover {text-decoration: none;}

a:link, a:active, a:visited {color: #1a3dc1; text-decoration: underline;}
a:hover {color: #D0061B;}

form .error {color: #D0061B;}

hr {border: none; height: 1px; background-color: #e7e7e7; color: #e7e7e7;}
